<mat-toolbar color="primary" class="mat-evalution-z6">
  
<div class="spacer"></div>

   <a mat-button [routerLink]="['/service']">Services</a>
   <a mat-button [routerLink]="['/contact']">Contact</a>
   <a mat-button [routerLink]="['/about']">About Us</a>
 </mat-toolbar>
 <div class="container text-center">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../assets/obro1.jpg.webp">
    </ng-template>  
    <ng-template carouselSlide> 
      <img src="../../assets/obro2.jpg.webp">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../assets/obro3.jpg.jpg">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../assets/obro4.jpg.jpg">
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../assets/obro5.jpg.webp">
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../assets/obro6.jpg.jpg">
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../assets/obro7.jpg.png">
    </ng-template>
  </owl-carousel-o>

 </div>