<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Obro</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
          <li><a routerLink="/service" class="nav-link">Services</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>

<div class="popup-icon">
 <button id="modBtn" class="modal-btn"><img src="../../assets/obro5.jpg.webp" alt=""></button>
</div>  
<div class="pricing-tables">
  <div class="container">
      <div class="col-md-4 col-sm-6">
          <div class="table-item">
         <br><br>
              <span style="color:red"> Two And Four Wheeler Repaire Services</span>
              <ul>
                <li style="color:white;">We have provides home service</li>
                <li style="color:white;">our service provider will give best service</li>
                <li style="color:white;">our service provider proper covid-19 safety procaution with hand sanitaizer</li>
                <li style="color:white;">We Provides Two Wheeler Washing,Tcon,Shockupzer,Engin Work,Seat Cover,Wiring Work etc</li>
                <li style="color:white;">We Provides Four Wheeler Washing,Ac Wiring,Gas,Engin Work,Damage Car Work,Wiring Work etc</li>


        
              </ul>
        
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="table-item premium-item">
              
              <span style="color:red">Services Charge</span><br><br>
              <ul>
                <span style="color:red">Services Charge two Wheeler</span>
                  <li style="color:white;">Washing charge:-50</li>
                  <li style="color:white;">Tcon:-149</li>
                  <li style="color:white;">Wiring Work:-599</li>
                  <li style="color:white;">Handle Work:-299</li>
                  <li style="color:white;">Servicing  Charge 100 cc For :-249rs</li>
                  <li style="color:white;">Servicing  Charge 150 cc For :-299rs</li>
                  <li style="color:white;">Engin Work 150 cc :-1799rs</li>
                  <li style="color:white;">Engin Work 100 cc :-1199rs</li>
                  <li style="color:white;">Seat Cover Depend On Quality Rate 150 To 400 Rs</li><br>
                  <span style="color:red">Services Charge Four Wheeler</span>
                  <li style="color:white;">One Time Car Visiting Service Charge With Battery:-699</li>
                  <li style="color:white;">Depend On Your Car Model Servicing Charge</li>
                  <li style="color:white;">This service provided only latur city</li>
                 
              </ul>
              <div class="simple-btn">
                 
              </div>

          </div>
      </div>
      <marquee style="color:Yellow;"direction = "left">Book Your Service On Our Contact No(8855843016,02382-227766)</marquee>

  </div>
</div>
<br><br>



<!-- Modal button -->


<!-- Modal -->
<div id="modal" class="modal">
<!-- Modal Content -->
<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <h3 class="header-title">Say hello to <em>Highway</em></h3>
    <div class="close-btn"><img src="../../assets/obro2.jpg.webp" alt=""></div>    
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <div class="col-md-6 col-md-offset-3">
      <form id="contact" action="" method="post">
          <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                </fieldset>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>


<footer class="footer bg-dark fixed-bottom">
  <div class="text-white text-right mr-3">
    Copyright goes only obro
  </div>
</footer>