<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Obro</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a routerLink="/loginsuccess" class="nav-link">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<br><br><br><br><br>
<div class="col-md-4 col-sm-6">
  <div class="table-item premium-item">
    <div class="main_menu">
      
<span  style="color:blue;">Obro Services</span><br><br>
      <ul>
          <li><a [routerLink]="['/ac']" class="navbar-brand">A/C Repair Service</a></li>
          <li><a [routerLink]="['/vegandfruit']" class="navbar-brand">Vegitables and Fruit's Service</a></li>
          <li><a [routerLink]="['/beuity']" class="navbar-brand">Men's hair Saloon and Grooming</a></li>
          <li><a [routerLink]="['/body']" class="navbar-brand">Body Massage & SPA</a></li>
          <li><a [routerLink]="['/Electronics']" class="navbar-brand">All Electronics Services</a></li>
          <li><a [routerLink]="['/Electric']" class="navbar-brand">Electricals Repairing Services</a></li>
          <li><a [routerLink]="['/Camera']" class="navbar-brand">CCTV Camera's Services</a></li>
          <li><a [routerLink]="['/Mobile']"class="navbar-brand">All Brand Mobile Repairing Services</a></li>
          <li><a [routerLink]="['/Urban']"class="navbar-brand">Urban Auto</a></li>
          <li><a [routerLink]="['/Travling']" class="navbar-brand">Domestics Travling With ObroCab Services</a></li>
          <li><a [routerLink]="['/Paint']" class="navbar-brand">Car Denting Paint Services</a></li>
          <li><a [routerLink]="['/Plumber']" class="navbar-brand">Plumber Services at Home</a></li>
          <li><a [routerLink]="['/home_paint']"class="navbar-brand">Wall Painting Services</a></li>
          <li><a [routerLink]="['/pestcontroller']" class="navbar-brand">Pest Control Services</a></li>
          <li><a  [routerLink]="['/Wheeler']" class="navbar-brand">Two Wheeler,Four Wheeler Servicing</a></li>
          <li><a [routerLink]="['/ladies']" class="navbar-brand">Ladies Hair Saloon, Makup and Beauty</a></li>
          <li><a [routerLink]="['/tv']" class="navbar-brand">TV & Dish Repairing Services</a></li>
          <li><a [routerLink]="['/computer']" class="navbar-brand">Computer Repairing Services</a></li>
          <li><a [routerLink]="['/need']" class="navbar-brand">Daily Needs</a></li>
          

         
      </ul>
      <div class="simple-btn">
      </div>
      </div>
  </div>
</div><br><br>
<marquee style="color:Yellow;"direction = "left">We Are Provides Home Delivary At Your Door Steps You Can Book Your Service On Our Contact No(8855843016,02382-227766)</marquee>
