<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Obro</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a routerLink="/loginsuccess" class="nav-link">Home</a></li>
        </ul>
      </div>
    </div>
  </nav><br>
  <!--Made by Fauxy, Subscribe to my YouTube channel  U CAN CODE-->
<!--Please don't forget to subscribe my Youtube Channel-->

<!DOCTYPE html>
<html>
<head>
	<title>About-us Page</title>
</head>
<body>
	<div class="container">
		<div class="about">
			<div class="text">
				<h1>About Us</h1>
				<div class="line"></div>
			</div>
		</div>
		<div class="content">
      <p>
     OUR MISSION<br><br>
      <p>
    1)Our company has started our service from 1 October 2020 at Latur,
         We want that every service of ours should reach every citizen and our country which is undergoing this pandemic condition, then we want every citizen to take our
          service so that they save their time and money and also keep their home safe<br><br>
        2)when serving at home, whatever service tools they are properly sanatized<br><br>

        3)Your heartly welcome to obroservices.com we are happy to serve our services.<br><br>
        4)we will provide all our services at your given time<br><br>
        5)all our service providers are highly skilled who will address your service issue in the best way.<br><br>
        6)we are giving 60 days service warranty on all service except vegetable,fruits and daily needs.<br><br>
        7)all our service providers will complete safety precaution,mask,gloves and sanatizer use in pandemic condition while providing home service.<br><br></p>
		</div>
		</div>
		<footer>Copyright &copy; U Can Code 2019 Home|About us|Services|Contact Us</footer>
</body>
</html>