<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Obro</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a routerLink="/loginsuccess" class="nav-link">Home</a></li> 
        </ul>
      </div>
    </div>
  </nav>

<br><br>
  <div class="pricing-tables">
    <div class="container">
        <div class="col-md-4 col-sm-6">
            <div class="table-item">
           <br><br>
                <span style="color:blue"> Office Address</span>
                <ul>
                  <li>Ambajogai road beside IG showroom,</li>
                    Ambahanuman Latur-413512
        
                </ul>
          
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="table-item premium-item">
                
                <span style="color:blue">Office Email</span>
                <ul>
                    <li>ObroServices@gmail.com</li>
                   
                </ul>
                <div class="simple-btn">
                   
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="table-item">
                
                <span style="color:blue"> Office Contact</span>
                <ul>
                    <li>8855843016</li>
                    <li>02382-227766</li>
                    
                </ul>
                
            </div>
        </div>
    </div>
</div>




  <!-- Modal button -->
<div class="popup-icon">
  <button id="modBtn" class="modal-btn"></button>
</div>  

<!-- Modal -->
<div id="modal" class="modal">
  <!-- Modal Content -->
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h3 class="header-title">Say hello to <em>Highway</em></h3>
      <div class="close-btn"><img src="../../assets/obro2.jpg.webp" alt=""></div>    
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="col-md-6 col-md-offset-3">
        <form id="contact" action="" method="post">
            <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                  </fieldset>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<footer class="footer bg-dark fixed-bottom">
    <div class="text-white text-right mr-3">
      Copyright goes only obro
    </div>
  </footer>