.logo-img{
    height: 60px;
}

.mar{
    color: black;
    text-align: end;
    text-decoration: solid;
    text-shadow: aqua;
    border-style: solid;
    border-color: grey;
    font-size: 20px;
}



h2.headertekst {
    text-align: center;
  }