<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Obro</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
          <li><a routerLink="/service" class="nav-link">Services</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>

<div class="popup-icon">
 <button id="modBtn" class="modal-btn"><img src="../../assets/obro8.jpg" alt=""></button>
</div>  
<div class="pricing-tables">
  <div class="container">
      <div class="col-md-4 col-sm-6">
          <div class="table-item">
         <br><br>
              <span style="color:red"> Computer Repaire Services</span>
              <ul>
                <li>We have provides home service</li>
                <li>our service provider will give best service</li>
                <li>our service provider proper covid-19 safety procaution with hand sanitaizer</li>
                <li>We have provides 60 days service warranty on our computer services</li>
                  
      
              </ul>
        
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="table-item premium-item">
              
              <span style="color:red">Services Charge</span>
              <ul>
                  <li>One time visiting charge :-149</li>
                  <li>Services Charge :-300</li>
                  <li>This service provided only latur city</li>
                 
              </ul>
              <div class="simple-btn">
                 
              </div>
          </div>
      </div>
     
  </div>
</div>
<br><br>

<marquee style="color:Yellow;"direction = "left">We Are Provides  Home Delivary At Your Door Steps You Can Your Service On Our Contact No(8855843016,02382-227766)</marquee>


<!-- Modal button -->


<!-- Modal -->
<div id="modal" class="modal">
<!-- Modal Content -->
<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <h3 class="header-title">Say hello to <em>Highway</em></h3>
    <div class="close-btn"><img src="../../assets/obro2.jpg.webp" alt=""></div>    
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <div class="col-md-6 col-md-offset-3">
      <form id="contact" action="" method="post">
          <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                </fieldset>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>


<footer class="footer bg-dark fixed-bottom">
  <div class="text-white text-right mr-3">
    Copyright goes only obro
  </div>
</footer>